.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
  padding: 10px;
}

.navbar img {
  width: 120px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  margin: auto;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
}

.nav-connect a {
  text-decoration: none;
  color: white;
}

@media (min-width: 769px) {
  .nav-mob-open,
  .nav-mob-close {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  .nav-connect {
    display: block;
  }
}

@media (max-width: 1024px) {
  .navbar {
    margin: 20px 30px;
  }

  .nav-menu {
    gap: 40px;
    font-size: 18px;
  }

  .nav-connect {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -350px;
    background-color: #1f0016;
    width: 250px;
    height: 100%;
    padding-top: 60px;
    gap: 30px;
    transition: right 0.5s ease-in-out;
    z-index: 10;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 20;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 200px;
    width: 30px;
  }

  .nav-menu li {
    font-size: 22px;
  }

  .nav-connect {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar {
    margin: 10px;
  }

  .nav-menu {
    width: 220px;
  }

  .nav-menu li {
    font-size: 20px;
  }

  .nav-mob-close {
    left: 180px;
  }
}
